/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* colors */
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);

	font-family: "Outfit", sans-serif;
	font-size: 15px;
}

body {
	background-color: var(--light-gray);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* main */

main {
	background-color: var(--white);
	border-radius: 15px;
	max-width: 320px;
	padding: 15px 15px 40px;
	text-align: center;
	box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.008),
		0px 6.7px 5.4px rgba(0, 0, 0, 0.012),
		0px 12.5px 10.1px rgba(0, 0, 0, 0.015),
		0px 22.3px 18.1px rgba(0, 0, 0, 0.018),
		0px 41.8px 33.8px rgba(0, 0, 0, 0.022),
		0px 100px 81px rgba(0, 0, 0, 0.03);
}

main > img {
	border-radius: 12px;
	width: 100%;
}

.text {
	margin: 0 20px;
}

h1 {
	color: var(--dark-blue);
	font-size: 1.4rem;
	margin: 20px 0 15px;
}

p {
	color: hsl(220, 15%, 55%);
	font-size: 1rem;
}
